<div class="info">
<br />
<h1>Episodes</h1>
<br />
<p>Here are the names and air dates of the episodes from the first two seasons</p>
<br />
</div>
<div id="place"></div>
<script>
  // Tallennetaan APIn url muuttujaan.
  var url = "https://rickandmortyapi.com/api/episode";
  // Suoritetaan AJAX pyyntö ja lisätään funktio: Kun saadaan vastaus pyyntöön...
  $.get(url, function (data) {
    // Luodaan out muuttuja johon tallennetaan html table tägi ja taulukon sarakkeiden otsikot.
    var out =
      "<table class='table table-hover'><tr><th>Episode</th><th>Name</th><th>Air date</th></tr>";
    // For loopilla käydään objekti läpi sen koko pituudelta.
    for (i = 0; i < data.results.length; i++) {
      // Joka kierroksella lisätään muuttujaan tr tägi jolla aloitetaan rivi.
      out += "<tr>";
      // Joka kierroksella lisätään muuttujaan td tägi jolla tehdään solu. Haetaan onjektista haluttu data.
      out += "<td>" + data.results[i].episode + "</td>";
      out += "<td>" + data.results[i].name + "</td>";
      out += "<td>" + data.results[i].air_date + "</td>";
      // Joka kierroksella lisätään muuttujaan tr tägi jolla suljetaan rivi.
      out += "</tr>";
    }
    // Suljetaan table elementti html table tägillä.
    out += "</table>";
    // Vaihdetaan place -elementin html sisällöksi out -muuttuja, jossa on APIsta haettu data taulukossa.
    $("#place").html(out);
  });
</script>
