<div class="jumbotron">
    <a title="Adult Swim, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Rick_and_Morty.svg"><img class="responsive" alt="Rick and Morty" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/512px-Rick_and_Morty.svg.png"></a>
    <br>
    <br>
    <p>Information about characters, episode locations and list of episodes</p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/characters">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locations">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/episodes">Episodes</a>
      </li>
    </ul>
  </div>
</nav>
